@page
@model RazorPagesMovie.Pages.Futures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Future</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Future.FutureTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Future.FutureTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Future.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Future.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Future.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Future.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Future.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Future.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Future.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
